<!DOCTYPE html>
<html>

<head>
	<title>SuperProj</title>
</head>

<body>
	<div>
		{% if jobs != None %}
			{% for job in jobs %}
				<div>
					<span>{{job}}</span>
					<span> - </span>
					<span>{{job.name}}</span>
				</div>
			{% endfor %}
			
			
		{% endif %}
	</div>

	<div>
		<span>Name:</span>
		<span>{{jobs.name}}</span>
	</div>

	<div>
		<span>Created:</span>
		<span>{{jobs.created_date}}</span>
	</div>

</body>

</html>