<!DOCTYPE html>
<html>

<head>
	<title>SuperProj</title>
	<link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css') }}" rel="stylesheet"
		type="text/css" media="screen">
	<link href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css.map') }}" rel="stylesheet"
		type="text/css" media="screen">
	<link href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap-grid.css') }}" rel="stylesheet"
		type="text/css" media="screen">
	<link href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap-grid.css.map') }}" rel="stylesheet"
		type="text/css" media="screen">
	<script type=text/javascript src="{{ url_for('static', filename='scripts/lib/jquery_3.4.1.js') }}"></script>

</head>

<body>

	<div class="container">
		<h1>WELCOME herddde</h1>
	
		<a id=link>
			<button type="button" class="btn btn-info button">{{ button_text }}</button>
		</a>
		{% block content %}{% endblock %}

	</div>

	<footer></footer>
	
	<script type=text/javascript>
	 $(function() { 
		 $('a#link').bind('click', function() {
			  $.getJSON('/add_job',
		function(data) { }); return false; }); }); 
	</script> 

	<script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
	<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->

</body>

</html>